html, body {
    width: 100%;
    height: 100%;
}
body {
	color: #f8f9fa !important;
}


/*body {
    background: url(/assets/img/background_2.jpg) center no-repeat;
    background-size: cover;
}*/

/*img.Fon {
    min-height: 100%;
    min-width: 850px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}*/

.img-fluid {
	max-width: 100%;
	height: auto;
	} 


#rectangle {
	width: 300px;
	height: 200px;
	background: #060d1091;
	
}

#rectangle2 {
	width: 300px;
    padding: 5px;
    border: 1px solid #000000;
    background: #060d1091;
    /*flex: 1 6 20%;
    order: 1;*/
    height: 500px;
    position: relative;
}


#rectangle4 {
	width: 500px;
    padding: 5px;
    border: 1px solid #000000;
    background: #060d1091;    
    height: 400px;
    position: relative;
        margin: auto;
    margin-top: 200px;
}

#rectangle5 {
	width: 600px;
	height: 520px;
    padding: 5px;
    border: 1px solid #000000;
    background: #060d10c7;    
    position: relative;
        margin: auto;
    margin-top: 220px;

}

#rectangle img {
  max-width: none;
  
  min-width: auto;
  min-height: auto;
  
  height: 100%;
  
  position: relative;
  
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  background: #00000073;
}

.list-group-item {
    z-index: 2;
    color: #f8f9fa !important;
    background-color: #007bff00 !important;
    border-color: #1d2124 !important;
    padding: 0.25rem 2.25rem !important;
}

.list-group-item.active {
    z-index: 2;
    color: #1d2124 !important;
    background-color: #6be186 !important;
    border-color: #1d212400 !important;
}


.list-group-item-secondary {
    z-index: 2;    
    border-color: #1d212400 !important;
    color: #f8f9fa !important;
    background-color: #007bff !important;
    /*#007bff80*/    
}

.mi1 {
    color: #f8f9fa !important;
    border-color: #343a40 !important;
    background-color: #1d21249e !important;
    height: 70px !important;
    width: 500px !important;    
    z-index: 3 !important;
}

.mi1.smena1 {
    color: #f8f9fa !important;
    border-color: #343a40 !important;
    background-color: #6be186 !important;
    height: 70px !important;
    width: 500px !important;    
    z-index: 3 !important;
    color: #1d2124 !important;
}

.mi1.smena2 {
    color: #f8f9fa !important;
    border-color: #343a40 !important;
    background-color: #dc3545 !important;
    height: 70px !important;
    width: 500px !important;    
    z-index: 3 !important;
    color: #1d2124 !important;
}

.mi2 {
	position: absolute;
    top: 460px;
    margin-left: 40%;
    margin-right: 50%;
    padding: 10px;   
    /*color: #070708;
    background-color: #389ce8;*/
}

p {
	word-wrap: break-word;
    font-size: 14px;
    /*-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;*/
}

pre {
	color: #f8f9fa !important;
	font-size: 15px !important;
}
